@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

/* --------------------- */
/* Mobile First Approach */
/* --------------------- */

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue);
    font-family: Manrope, sans-serif;
    color: var(--light-cyan);
}

/* General Styling */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Advice State */

.container {
    position: relative;
    background: var(--dark-grayish-blue);
    min-height: 300px;
    width: 100%;
    margin: 0 25px;
    padding: 25px;
    border-radius: 10px;
}
.container h1 {
    color: var(--neon-green);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}
.container p {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.container > img {
    margin: 20px 0 40px 0;
}
.container > div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--neon-green);
    height: 70px;
    width: 70px;
    border-radius: 50%;
}